@font-face {
  font-family: "Montserrat";
  src: url(./font/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(./font/Montserrat-bold.ttf);
  font-weight: 700;
}
